
/*--------------fonts---------*/
@import url('https://fonts.googleapis.com/css?family=Cute+Font&display=swap');
@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

html {
    min-height: 100vh;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

/*--------------landing page---------*/

.background-home {
background-image: none;
   background:linear-gradient(green, pink);
   background-size: 500px;
   background-position-x: 20%;
   background-position-y: 90%;
   }

   .btn-lg {
background-color: black;
}

.brain-pic-1 {
    padding-top: 50px;
    height: 300px;
    width: 350px;

}

.heading {
    font-family: 'Mansalva', sans-serif;
font-size: 5em;
text-align: center;
padding-top: 50px;
color:rgb(26, 245, 190);
text-shadow: #000 0px 0px 3px,
#000 0px 0px 3px,
#000 0px 0px 3px,
#000 0px 0px 3px,
#000 0px 0px 3px,
#000 0px 0px 3px;
}

.sub-heading {
-webkit-animation: forwards;
    animation: forwards;
-webkit-transition-delay: 500ms;
    transition-delay: 500ms;
-webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    font-family: 'Mansalva',
    cursive;
    color: ghostwhite;
    text-shadow: #000 0px 0px 3px,
    #000 0px 0px 3px,
    #000 0px 0px 3px,
    #000 0px 0px 3px,
    #000 0px 0px 3px,
    #000 0px 0px 3px;
}

.subject-header {
    color:black;
}
.container {
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    display: inline-block;
    text-align: center;
    width: 100%;

}

.masthead {
    min-height: 20rem;
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}



/*--------------football dino animal----------*/
.dino-background {
    margin: 0;
    background-image: url(../images/dino-game-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.animal-background {
     margin: 0;
    background-image: url(../images/cat-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

body {
    margin: 0;
    background-image: url(../images/background-pitch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.game-info-container {
    grid-column: 1 / -1;
    display: -webkit-box;
    display: flex;
-webkit-box-pack: justify;
    justify-content: space-between;
}

.game-info {
    color: yellow;
    font-size: 4em;
    font-family: 'Cute Font',
    cursive;
     text-shadow: #000 0px 0px 3px,
    #000 0px 0px 3px,
    #000 0px 0px 3px,
    #000 0px 0px 3px,
    #000 0px 0px 3px,
    #000 0px 0px 3px;
}


.game-container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    margin: 50px;
-webkit-box-pack: center;
    justify-content: center;
-webkit-perspective: 500px;
    perspective: 500px;
}


.card {
    position: relative;

      height: 150px;
    width: 100px;
}

.football {
height: 60px;
    width: 60px;
-webkit-transform: scale(.9);
    transform: scale(.9);
-webkit-transition: -webkit-transform 100ms ease-in-out;
    transition: -webkit-transform 100ms ease-in-out;
    transition: transform 100ms ease-in-out;
    transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
}


.team {
    height: 100px;
    width: 90px;
    -webkit-transform: scale(.9);
    transform: scale(.9);
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    transition: -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.card-back:hover .football {
-webkit-transform: translateY(0);
    transform: translateY(0);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
-webkit-box-pack: center;
    justify-content: center;
-webkit-box-align: center;
    align-items: center;
-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    transition: -webkit-transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
    overflow: hidden;
}

.card.visible .card-back {
-webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card.visible .card-front {
-webkit-transform: rotateY(0);
    transform: rotateY(0)
}

.card.matched .team {
-webkit-animation: dance 1s linear infinite 500ms;
    animation: dance 1s linear infinite 500ms;
}

.overlay-text-small {
    font-size: .3em;
}
@-webkit-keyframes dance {
    0%, 100% {
    -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    25% {
    -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    75% {
    -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }
    }
    @keyframes dance {
    0%, 100% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    25% {
        -webkit-transform: rotate(-30deg);
                transform: rotate(-30deg);
    }
    75% {
        -webkit-transform: rotate(30deg);
                transform: rotate(30deg);
    }
    }

/*-----------cards---------*/
.card-front {
    background-color: green;
    border-color: black;
-webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card-back:hover .football {
-webkit-transform: scale(1);
    transform: scale(1);
}
.card-front:hover .team {
-webkit-transform: scale(1);
    transform: scale(1);
}

.card-back {
    background-color: red;
    border-color: black;
}

/*---------------overlays-----------*/

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
 -webkit-box-pack: center;
    justify-content: center;
-webkit-box-align: center;
    align-items: center;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    flex-direction: column;
    z-index: 100;
    color: yellow;
    font-family: 'Cute Font', cursive;
}

.overlay-text.visible {
display: -webkit-box;
    display: flex;
-webkit-animation: overlay-grow 500ms forwards;
    animation: overlay-grow 500ms forwards;
}

@-webkit-keyframes overlay-grow {
    from{
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to{
        background-color: rgba(0, 0, 0, .8);
        font-size: 7em;
    }
}

@keyframes overlay-grow {
    from{
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to{
        background-color: rgba(0, 0, 0, .8);
        font-size: 7em;
    }
}

.button {
  background-color: #4CAF50;
color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 100%;
  margin-top: 40px;
}
/*----------media queries-------------*/

@media (max-width: 768px) {
.football {
    height: 55px;
    width: 55px;
}
.team {
    height: 95px;
    width: 85px;
    }
    .game-info {
        font-size: 4em;
    }
    .background-home {
        background-size: 400px;
    }
}

@media (max-width: 600px) {
    .card  {
           height:110px;
           width: 60px;
       }
.football {
    height: 45px;
    width: 45px;
}
.team {
    height: 75px;
    width: 55px;
    }
    .game-info {
        font-size: 3em;
    }
    .background-home {
        background-size: 300px;
    }
}

@media (max-width: 480px) {
    .card  {
           height:100px;
           width: 50px;
       }
.football {
    height: 35px;
    width: 35px;
}
.team {
    height: 65px;
    width: 45px;
    }
    .game-info {
        font-size: 1.5em;
    }
    .background-home {
        background-size: 200px;
    }
}


@media (max-width: 320px) {
    .card  {
           height:90px;
           width: 40px;
       }
.football {
    height: 25px;
    width: 25px;
}
.team {
    height: 55px;
    width: 35px;
    }
    .game-info {
        font-size: 0.5em;
    }
.background-home {
        background-size: 100px;
    }
}