@import url('https://fonts.googleapis.com/css?family=Cute+Font&display=swap');
@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(../images/background-pitch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.game-info {
    color: yellow;
    font-size: 4em;
    font-family: 'Cute Font',
    cursive;
}
