@import url('https://fonts.googleapis.com/css?family=Cute+Font&display=swap');
@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(../images/background-pitch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info {
    color: yellow;
    font-size: 4em;
    font-family: 'Cute Font',
    cursive;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}

.card {
    position: relative;

      height: 150px;
    width: 100px;
}

.football {
height: 60px;
    width: 60px;
    transform: scale(.9);
    transition: transform 100ms ease-in-out;
}

.team {
    height: 100px;
    width: 90px;
    transform: scale(.9);
    transition: transform 200ms ease-in-out;
}

.card-back:hover .football {
    transform: translateY(0);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0)
}

.card:hover .team {
    animation: dance 1s linear infinite 500ms;
}

@keyframes dance {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
    }

.card-front {
    background-color: green;
    border-color: black;
    transform: rotateY(180deg);
}

.card-back:hover .football {
    transform: scale(1);
}
.card-front:hover .team {
    transform: scale(1);
}

.card-back {
    background-color: red;
    border-color: black;
}
